.dashboard-wrapper {
    display: flex;
  }
  
  .menu-dashboard {
    width: 250px;
    transition: width 0.3s ease;
  }
  
  .menu-dashboard.menu-closed {
    width: 20px; /* Ancho reducido cuando el menú está cerrado */
  }
  
  .dashboard-content {
    flex-grow: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease; /* Transición suave */
    padding: 20px;
  }
  
  .dashboard-content.menu-closed {
    margin-left: 60px; /* Margen ajustado cuando el menú está cerrado */
  }
  
  #welcome-text {
    font-size: 24px;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  